* {
    box-sizing: border-box; 
}

/* Tar bort margin/padding så man kan arbeta utifrån kanten på webbläsarfönster */
body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

/* Bilder begränsas till förälder*/
img {
    max-width: 100%;
}

figure {
    margin: o;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {

}

h2 {
    
}

h3 {
    
}

h4 {
    
}

h5 {
    
}

h6 {
    
}

p, a, li, span {

}

p {

}

a {

}

a:hover {

}

a.arrow-link {

}

a.arrow-link--white path{ /* Använder path ist för line */
    fill: #fffcf2;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.4rem;
}

.social__link {
    background-color: #222;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.scroll-up {
    position: absolute;
    right: 64px;
    bottom: 64px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 0;
    background-color: #fffcf2;

}

/* Layout */

.container {

}

.hero,
.work,
.projects,
.about {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) [inner-start] minmax(0, 67.5rem) [inner-end] minmax(2rem, 1fr);

}

.hero__inner,
.work__inner,
.projects__inner,
.about__inner {
    grid-column: inner;

}


.header {
    position: fixed;
    background-color: #222;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: grid;

}

.header__inner {
    width: 100%;
    max-width: 1280px; /* Gå utifrån urpsrunglig layout */
    margin: 0 auto;
    padding: 0 2rem; /* top right bottom left */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    min-height: 100vh;
}

.work {
    background-color: #fffcf2;

    /* TEMP */
    min-height: 100vh;
}

.projects {
    /* TEMP */
    min-height: 100vh;
}

.about {
    background-color: #fffcf2;

    /* TEMP */
    min-height: 50vh;
}

.footer {
    min-height: 160px;
}

/* Menu */

.menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 3rem;

}

/* Hero */

.hero__inner {
    display:flex;
    align-items: center;
}

.hero__content {
    color: #fffcf2;
}

/* Work */

.work__header {
    margin-bottom: 5rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 2rem;
}

.gallery__item:nth-of-type(3) /* 3de gallery item*/ {
    grid-row: span 2;
}

.gallery__item:nth-of-type(4) {
    grid-row: span 2;
    grid-column: span 2;
}

.gallery__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Bibehåller proportioner på bilder */
}

.gallery__item { /* Tar bort marginaler och padding runt bild */
    margin: 0;
    padding: 0;
}

/* Projects */

.projects__header { /*omsluter rubrik och länk */
    display: flex;
    justify-content: space-between;
    align-items: center; /*blir precis centrerade */
    margin-bottom: 5rem; 

}

.projects__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;

}

.projects__title {
    color: #fffcf2;
}

/* Project */

.project__image { /* Tar bort marginaler och padding runt bilden */
    margin: 0;
    padding: 0;
}

.project__image img {
    display: block;
}

.project {
    display: flex;
    flex-direction: column;
}

.project__header {
    order: 2;
}

.project__details {
    position: relative;
    order: 1;
}

.project__content {
    order: 3;
}

.project__footer {
    order: 4;
}

.project__title {
    color: #fffcf2;
}

.project__content p {
    color: #9A9892;
}

.project__meta {
    background-color: #fffcf2;
    position: absolute;
    bottom: 20px;
    left: -20px;
}

/* About */

.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 2rem; 
}

.about__content {
    max-width: 38.75rem;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.footer__content {
    color: #75726f;
}