* {
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
}

/* Tar bort margin/padding så man kan arbeta utifrån kanten på webbläsarfönster */
body {
    margin: 0;
    padding: 0;
    background-color: #222;
    font-family: 'fieldwork', sans-serif;
}

/* Bilder begränsas till förälder*/
img {
    max-width: 100%;
}

figure {
    margin: o;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0.5em 0;

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    
}

h3 {
    font-size: 2rem;
    
}

h4 {
    font-size: 1.8rem;
    
}

h5 {
    font-size: 1.4rem;
    
}

h6 {
    font-size: 1rem;
    
}

p, a, li {
    color: #9A9892;
    line-height: 1.5;
    font-size: 1.125rem;

}

span {

}

p {
    

}

a {
    text-decoration: none;
    color: #f11448;

}

a:hover {

}

a.arrow-link {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a.arrow-link svg {
    transform: translateY(-0.15rem); /* Minus pga pil längre ned på Y-axel än i video*/
}

a.arrow-link--white path{ /* Använder path ist för line */
    fill: #fffcf2;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.4rem;
}

.social__link {
    background-color: #222;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.scroll-up {
    position: absolute;
    right: 64px;
    bottom: 64px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 0;
    background-color: #fffcf2;

}

/* Layout */

.container {

}

.hero,
.work,
.projects,
.about {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) [inner-start] minmax(0, 67.5rem) [inner-end] minmax(2rem, 1fr);

}

.hero__inner,
.work__inner,
.projects__inner,
.about__inner {
    grid-column: inner;

}


.header {
    position: fixed;
    background-color: #222;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: grid;

}

.header__inner {
    width: 100%;
    max-width: 1280px; /* Gå utifrån urpsrunglig layout */
    margin: 0 auto;
    padding: 0 2rem; /* top right bottom left */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    min-height: 100vh;
}

.work {
    background-color: #fffcf2;

}

.projects {

}

.about {
    background-color: #fffcf2;
}

.footer {
    min-height: 160px;
}

/* Menu */

.menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    gap: 3rem;

}

.menu__link {
    color: #fffcf2;
}

.menu__item--current {
    font-weight: 700;
}

.menu__item--button .menu__link {
    background-color: #fffcf2;
    color: #222;
    font-weight: 700;
    padding: 0.5rem 1rem;
    padding: 0.5rem 1rem 0.4rem; /* 0.6rem gör så att texten hamnar för långt upp */
    display: block;
}

/* Hero */

.hero__inner {
    display:flex;
    align-items: center;
}

.hero__content {
    color: #fffcf2;
}

.hero__title {
    font-size: 10.25rem;
    margin: 0; /* Texten får padding undertill endå?*/
    line-height: 0px;
    padding-bottom: 4rem;
}

.hero__title span {
    color: #f11448;
}

.hero__description {
    font-size: 1.5rem;
    font-weight: 400;
    color: #9A9892; 
    margin: -0.2rem 0 0 0.4rem;
}

.hero__description span {
    color: #fffcf2;
}

/* Work */

.work__header {
    margin-bottom: 5rem;
    max-width: 40rem;
}

.work__title {
    margin-top: 0;
}

.work__text {
    font-size: 1.5rem;
    line-height: 1.66;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 2rem;
}

.gallery__item:nth-of-type(3) /* 3de gallery item*/ {
    grid-row: span 2;
}

.gallery__item:nth-of-type(4) {
    grid-row: span 2;
    grid-column: span 2;
}

.gallery__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Bibehåller proportioner på bilder */
}

.gallery__item { /* Tar bort marginaler och padding runt bild */
    margin: 0;
    padding: 0;
}

/* Projects */

.projects__header { /*omsluter rubrik och länk */
    display: flex;
    justify-content: space-between;
    align-items: center; /*blir precis centrerade */
    margin-bottom: 5rem; 

}

.projects__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5rem 3rem;

}

.projects__title {
    color: #fffcf2;
    font-weight: 400;
    margin-top: 0;
}

/* Project */

.project__image { /* Tar bort marginaler och padding runt bilden */
    margin: 0;
    padding: 0;
}

.project__image img {
    display: block;
}

.project {
    display: flex;
    flex-direction: column;
}

.project__header {
    order: 2;
}

.project__details {
    position: relative;
    order: 1;
    margin-bottom: 2.4rem; 
}

.project__content {
    order: 3;
}

.project__footer {
    order: 4;
}

.project__title {
    color: #fffcf2;

}

.project__content p {
    color: #9A9892;
    line-height: 1.33;
}

.project__meta {
    background-color: #fffcf2;
    position: absolute;
    padding: 0.5rem 1rem 0.6rem;
    font-weight: 700;
    bottom: 16px;
    left: -16px;
}

.project__permalink {
    font-weight: 700;
}

/* About */

.about__inner {
    display: flex;
    justify-content: space-between;
    gap: 2rem; 
}

.about__content {
    max-width: 38.75rem;
}

.about__title {
    margin-top: 0;
}

.about__text {
    font-size: 1.5rem;
    line-height: 1.66;

}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.footer__content {
    color: #75726f;
}